azuredeploy.json  filter=git-crypt diff=git-crypt
AppSettings.json  filter=git-crypt diff=git-crypt
final-deploy.json  filter=git-crypt diff=git-crypt
newServicePlan.json  filter=git-crypt diff=git-crypt
AppSettings.json  filter=git-crypt diff=git-crypt
